/myenv
.myenv
/.myenv

# Images in 21MajFiles
21MajFiles/**/*.jpg
21MajFiles/**/*.jpeg
21MajFiles/**/*.png
21MajFiles/**/*.gif
21MajFiles/**/*.bmp
21MajFiles/**/*.svg
21MajFiles/**/*.ico

YOLOv8-training/yolo_pose_dataset/*
YOLOv8-training/jetbot_groundview_dataset/*
yolo_dataset/*
blender_paper_dataset/*
YOLOv8-training/jetbot_pose_dataset/test/*
YOLOv8-training/jetbot_pose_dataset/train/*
YOLOv8-training/jetbot_pose_dataset/val/*
YOLOv8-training/**/*.txt
YOLOv8-training/**/*.json
*.png
*.jpg



# Text files in 21MajFiles
21MajFiles/**/*.txt

# JSON files in 21MajFiles
21MajFiles/**/*.json